.files-dropzone {
  max-height: 25px;
  max-width: 25px;
}

.bi-paperclip:hover {
  background: rgb(228, 228, 228);
  transform: scale(1.02, 1.02);
  opacity: 0.6;
  border-radius: 5px;
}

.uploaded-file {
  width: 30%;
  height: 50%;
}

.uploadInput:hover {
  opacity: 0.6;
}

.attachment-button {
  cursor: pointer;
  margin-bottom: 0.2rem;
}

.attachment-button:hover {
  color: #0a84ff;
}

.hidden {
  visibility: hidden;
  position: absolute;
  width: 0px;
}
